        body 
        {                
                font-family: Calibri; 
                background-color: grey;
                margin: 0 0 0 0;
                height: 100%;
        }
        footer 
        {
                width: auto; 
                height: 50px; 
                margin:auto; 
                white-space: nowrap; 
                display: block; 
                background-color: rgba(255,255,255,0.3);
                position: relative;
        }
        div.container
        {
                padding-bottom: 2.5%;
                padding-top: 2.5%;
                height: auto; 
                text-align: justify;  
                display: block; 
                width: auto;  
                color: black;
                background: none repeat scroll 0% 0% rgba(255,255,255,0.75); 
                padding-left: 10%;
                padding-right: 10%;
                height: 1000px;
        }
        div.footer
        {
                text-align: center; 
                color: white;
                padding-top: 15px;
        }
        nav 
        {
                text-align: center;
                color: white;
                display: table; 
                width: 100%; 
                background: none repeat scroll 0% 0% rgba(0,130,230,0.3) ; 
                height: 50px; margin: 0px auto;
        }
        nav ul 
        {
                margin: auto; 
                width: auto;
                padding: 0 0 0 0;
                text-align: center; 
        }
        nav li 
        {
                display: inline-block; 
                margin: auto; 
                line-height: 50px;
        }
        nav a 
        {
                display: inline-block;
                width: 100px; 
                text-decoration: none; 
                text-align: center; 
                color: white;  
                white-space: nowrap;
        }
        nav a:hover 
        {
                display: inline-block; 
                width: 100px; 
                height: 50px; 
                text-decoration: none; 
                text-align: center; 
                color: white; 
                background-color: rgba(0,0,0,0.6) ; 
                white-space: nowrap;
        }
                @media(max-width: 790px) { 
                nav li {display: block; width: 100%;} 
                nav ul {width: 100%; padding-left: 0px;} 
                nav a, nav a:hover {display: block; width: 100%; margin-left:0px; } }

        input[type=text], select 
        {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
        }

        input[type=submit] 
        {
                width: 100%;
                background-color: #8dbdd8;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
        }

        input[type=submit]:hover 
        {
                background-color: #5a819f;
        }

        div.form 
        {
                background-color: #f2f2f2;
                padding: 40px;
        }       


        /* tables */
table.tablesorter {
        background-color: #CDCDCD;
        margin:10px 0pt 15px;
        font-size: 8pt;
        width: 100%;
        text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
        background-color: #e6EEEE;
        font-size: 12pt;
        padding: 4px;
}
table.tablesorter thead tr .header {
        background-image: url(bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
}
table.tablesorter tbody td {
        color: #3D3D3D;
        padding: 4px;
        background-color: #FFF;
        vertical-align: top;
}
table.tablesorter tbody tr.odd td {
        background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
        background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
        background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}


